/* Reset default browser styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define custom variables */
:root {
  --primary-color: #3498db;
  --secondary-color: #acabab;
}

/* Global styles for common elements */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}