@import './base.css';

/* Reset default browser styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define custom variables */
:root {
  --primary-color: #00B2FF;
  --primary-hover-color: #00A0E3;
  --secondary-color: #acabab;
  --linear-background-color: linear-gradient(90deg, rgba(16,20,55,1) 50%, rgba(185,184,182,1) 99%);
}

/* Global styles for common elements */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: var(--linear-background-color); /* background yerine background-image kullanıldı */
  color: #000;
  text-align: center;
  min-height: 100vh;
}

/* Define application-specific styles */
#app {
  font-family: 'Helvetica Neue', sans-serif;
  background: var(--linear-background-color); /* background yerine background-image kullanıldı */
  color: #000;
  text-align: center;
  min-height: 100vh;
}