@import './base.css';

/* Reset default browser styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define custom variables */
:root {
  --primary-color: #00B2FF;
  --primary-hover-color: #00A0E3;
  --secondary-color: #acabab;
  --linear-background-color: linear-gradient(90deg, rgba(16, 20, 55, 1) 50%, rgba(185, 184, 182, 1) 99%);
}

/* Global styles for common elements */
body, #app {
  font-family: 'Helvetica Neue', sans-serif;
  background: var(--linear-background-color);
  color: #000;
  text-align: center;
  min-height: 100vh;
}

.btn-navy {
  background-color: #1f2253;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-navy:hover {
  background-color: #0b0c1e;
}


.btn-secondary {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-secondary:hover {
  background-color: #8c8b8b;
}

.btn-red {
  background-color: #ea1919;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-red:hover {
  background-color: rgb(197, 14, 14);
}

.btn-red:disabled {
  background-color: #8c8b8b;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: not-allowed;
  transition: all 0.3s ease-in-out;
}

.btn-success {
  background-color: #28d10e;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-success:hover {
  background-color: #1f9a0e;
}

.text-navy {
  color: #1f2253;
}

.wider-card {
  width: 100%;
  max-width: 400px;
}

.pulse {
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  animation: animate 3s linear infinite
}

.pulse i {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #fff;
  height: 100%;
  cursor: pointer
}

@keyframes animate {
  0% {
      box-shadow: 0 0 0 0 rgb(255, 109, 74, 0.7), 0 0 0 0 rgb(255, 109, 74, 0.7)
  }

  40% {
      box-shadow: 0 0 0 10px rgb(255, 109, 74, 0), 0 0 0 0 rgb(255, 109, 74, 0.7)
  }

  80% {
      box-shadow: 0 0 0 10px rgb(255, 109, 74, 0), 0 0 0 10px rgb(255, 109, 74, 0)
  }

  100% {
      box-shadow: 0 0 0 0 rgb(255, 109, 74, 0), 0 0 0 10px rgb(255, 109, 74, 0)
  }
}

.mt-3rem {
  margin-top: 3rem;
}

ul {
  list-style-type: none;
}